@charset "UTF-8";

/* Filename: main.scss
* Author: Colin McMillan
* Date: 2016 May
* Description: Templates the styles for the WSDoH app login pages. 
*/

// Colours
$primaryColour: #00479f;
$backgroundColour: #ffffff;
$edgeColour: #000000;
$gridEdgeColour: rgba(0, 0, 0, .05);


// Text styles
$typeface: "Helvetica";
$boldThickness: 800;


// Login page values
$portraitWidth: 100px;
$portraitHeight: 100px;
$nameTextSize: 20px;
$emailTextSize: 18px;

$signinCurvature: 37px;
$signinFieldPadding: 20px;
$signinFieldIndent: 38px;
$firstFieldPadding: 170px;

$signinButtonTextSize: 17px;
$signinButtonWidth: 300px;
$signinButtonHeight: 55px;

$signinFieldIconIndentX: 15px;
$signinFieldIconIndentY: 18px;
$signinFieldIconSize: 20px;

$helpTextSize: 12px;
$helpPadding: 10px;


// Text entry values
$textEntryTextSize: 14px;
$textEntryLogoHeight: 20px;
$textEntryLogoWidth: 20px;


// Logo dimensions
$logoWidth: 250px;
$logoHeight: 124px;
$logoTopPad: 60px;
$logoBotPad: 20px;

// Grid button values
$gridBoxWidth: 130px;
$gridBoxHeight: 130px;
$gridBoxPadding: 15px;

// Grid values
$maxGridItemWidth: 60px;
$maxGridItemHeight: 80px;

// NavBar values
$navBarHoverDistance: 10px;
$navIconPadding: 7.5px;
$smallNavIconWidth: 19px;
$smallNavIconHeight: 19px;
$largeNavIconWidth: 40px;
$largeNavIconHeight: 40px;

// Footer values
$footerMargin: 130px;
$appLogoStripWidth: 400px;
$appLogoStripHeight: 22px;
$appLogoStripMargin: 40px;
$copyrightTextSize: 12px;



// The main sign in form
.signinForm {
  margin: auto;
  width: $signinButtonWidth;
  
  color: $edgeColour;
  
  @at-root #{&}__profileWrapper {
    margin: $signinFieldPadding;
  }
  
  @at-root #{&}__portrait {
    display: block;
    margin: auto;
  
    width: $portraitWidth;
    width: $portraitHeight;
  }
  
  @at-root #{&}__nameLabel {
    font-family: $typeface;
    font-size: $nameTextSize;
    font-weight: $boldThickness;
    text-align: center;
	
	margin-bottom: 0px;
  }
  
  @at-root #{&}__emailLabel {
    font-family: $typeface;
    font-size: $emailTextSize;
    text-align: center;
  }
  
  @at-root #{&}__field {
    font-family: $typeface;
    border-color: $primaryColour;
    font-size: $textEntryTextSize;
	
	height: $signinButtonHeight;
	margin-bottom: $signinFieldPadding;
	
	border-radius: $signinCurvature;
	
	text-indent: $signinFieldIndent;
	
	@at-root #{&}--firstField {
	  margin-top: $firstFieldPadding;
	}
	
	
	@at-root #{&}__fieldIcon {
	  position: absolute;
	  
	  height: $signinFieldIconSize;
	  width: $signinFieldIconSize;
	  
	  left: $signinFieldIconIndentX;
	  top: $signinFieldIconIndentY;
	}
  }
  
  @at-root #{&}__fieldWrapper {
    position: relative;
  }
  
  @at-root #{&}__button {
    font-family: $typeface;
    font-weight: $boldThickness;
    background-color: $primaryColour;
    color: $backgroundColour;
    font-size: $signinButtonTextSize;
	
	height: $signinButtonHeight;
	
	border-radius: $signinCurvature;
  }
  
  @at-root #{&}__help {
	display: block;
    width: $signinButtonWidth;
	padding: $helpPadding;
	
    font-family: $typeface;
    font-size: $helpTextSize;
    text-align: center;
	
    color: $primaryColour;
  }
}


.mainLogo {
  display: block;
  margin: auto;
  width: $logoWidth;
  height: $logoHeight;
  
  margin-top: $logoTopPad;
  margin-bottom: $logoBotPad;
}


.appGrid {
  display: block;
  margin: auto;
  width: (($gridBoxWidth + $gridBoxPadding * 2) * 3);
}


.appMenuButton {
  width: $gridBoxWidth;
  height: $gridBoxHeight;
  
  border-style: solid;
  border-width: 1px;
  border-color: $gridEdgeColour;
  
  margin: $gridBoxPadding;
  
  @at-root #{&}__image {
    display: block;
	margin: auto;
	margin-top: 20px;
    max-width: $maxGridItemWidth;
    max-height: $maxGridItemHeight;
  }
  
  @at-root #{&}--hover {
    box-shadow: 1px, 1px, 1px, $edgeColour;
  }
}


.navBar {
  position: fixed;
  right: $navBarHoverDistance;
  top: $navBarHoverDistance;
  width: ($largeNavIconWidth * 4);
  
  @at-root #{&}__avatar {
    margin: $navIconPadding;
	
    width: $largeNavIconWidth;
    height: $largeNavIconHeight;
  }
  
  @at-root #{&}__icon {
    margin: $navIconPadding;
	
    width: $smallNavIconWidth;
    height: $smallNavIconHeight;
  }
}


.footer {
  margin: auto;
  width: 100%;
  
  margin-top: $footerMargin;
  
  @at-root #{&}__appStrip {
    display: block;
    margin: auto;
	width: $appLogoStripWidth;
	height: $appLogoStripHeight;
	
	margin-bottom: $appLogoStripMargin;
  }
  
  @at-root #{&}__copyright {
    font-family: $typeface;
    font-size: $copyrightTextSize;
	
	text-align: center;
  }
}


// An animation effect for emphasizing Grid Tiles when hovered.
.shadowOnHover:hover {
	box-shadow: 0 1px 1px;
}